:root{
    --primary-color: hsl(223, 87%, 63%);

    --secondary-color: hsl(223, 100%, 88%);
    --tertiary-color: hsl(354, 100%, 66%);

    --fouthary-color: hsl(0, 0%, 59%);
    --fifthary-color: hsl(209, 33%, 12%);
}

body{
    font-size: 1.25rem;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
}

main{
    padding: .9375rem;
}

.overview{
    text-align: center;
    font-size: 1.25rem;
}

.overview h1{
    color: var(--fouthary-color);
    font-weight: 300;
    margin-top: 3.5625rem ;
    font-size: 1.5rem;
}

.overview h1 span{
    color: var(--fifthary-color);
    font-weight: 700;
}

.overview p{
    font-size: 1rem;
}

.overview img{
    padding-top: 3.125rem;
}

.email-sub{
    display: flex;
    flex-direction: column;
    padding: 1.5625rem;
}

.email-sub input{
    border-radius: 3.125rem;
    padding: .9375rem 1.5625rem;
    margin: .625rem 0;
    border: 1px solid var(--secondary-color);
}

.email-sub input::placeholder{
    color: var(--fouthary-color);
}

.email-sub button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 3.125rem;
    padding: .9375rem 0;
    border: none;
    box-shadow: var(--secondary-color) 0 .9375rem .625rem -0.625rem;
}

.preview-img{
    max-width: 100%;
    height: auto;
}